<img [src] = "perDetalle.foto" alt = "foto persona" />
<form>
    <div class = "row mt-3">
        <div class = "col-12">

            <div class = "form-group">
                <label>id</label>
                <span class = "form-control">{{perDetalle.id}}</span>
            </div>

            <div class = "form-group">
                <label>Nombre</label>
                <span class = "form-control">{{perDetalle.nombre}}</span>
            </div>

            <div class = "form-group">
                <label>Edad</label>
                <span class = "form-control">{{perDetalle.edad}}</span>
            </div>

         
        </div>
    </div>
</form>